<VirtualHost *:443>
	ServerAdmin root@dang.ovh
	ServerName  {{item.servername}}
	
{% if item.main is defined %}
   	ServerAlias dang.ovh {{hostname}}.dang.ovh
{% else %}
   	ServerAlias {{item.servername}}.dang.ovh {{item.servername}}-{{hostname}}.dang.ovh
{% endif %}
	
	DocumentRoot {{apache_document_root}}{{item.servername}}

	<Directory {{apache_document_root}}{{item.servername}}>
		Options {{item.indexes | default('Indexes')}} FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog /var/log/apache2/error_ssl_{{item.servername}}.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/access_ssl_{{item.servername}}.log combined

    SSLEngine on

{% if item.main is defined %}
    SSLCertificateFile    /etc/letsencrypt/live/{{hostname}}.dang.ovh/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{hostname}}.dang.ovh/privkey.pem
{% else %}
    SSLCertificateFile    /etc/letsencrypt/live/{{item.servername}}-{{hostname}}.dang.ovh/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{item.servername}}-{{hostname}}.dang.ovh/privkey.pem
{% endif %}
	


</VirtualHost>

