<VirtualHost *:80>
    ServerAdmin {{ email }}
    ServerName  {{ item.servername }}

{% if item.main is defined %}
    ServerAlias {{ domain }} {{ hostname }}.{{ domain }}
{% else %}
    ServerAlias {{ item.servername }}.{{ domain }} {{ item.servername }}-{{ hostname }}.{{ domain }}
{% endif %}
{% if item.secure_only is defined and item.secure_only == "true" %}
    #443 only
{% if item.main is defined %}
    Redirect permanent / https://{{ hostname }}.{{ domain }}
{% else %}
    Redirect permanent / https://{{ item.servername }}-{{ hostname }}.{{ domain }}
{% endif %}
{% else %}
{% if item.type == "proxy" %}
    RewriteEngine on
    RewriteCond %{HTTP:Upgrade} websocket [NC]
    RewriteCond %{HTTP:Connection} upgrade [NC]
    RewriteRule ^/?(.*) "ws://{{ item.ip }}:{{ item.port }}/$1" [P,L]

    ProxyPass / http://{{ item.ip }}:{{ item.port }}/
    ProxyPassReverse / http://{{ item.ip }}:{{ item.port }}/
    ProxyRequests off
{% else %}
    DocumentRoot {{ apache_document_root }}{{ item.servername }}

    <Directory {{ apache_document_root }}{{ item.servername }}>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>
{% endif %}
{% endif %}

    ErrorLog /var/log/apache2/error_{{ item.servername }}.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog /var/log/apache2/access_{{ item.servername }}.log combined

</VirtualHost>




