<VirtualHost *:80>
	ServerAdmin {{ email }}
	ServerName  {{item.servername}}

{% if item.main is defined %}
   	ServerAlias {{ domain }} {{hostname}}.{{ domain }}
{% else %}
   	ServerAlias {{item.servername}}.{{ domain }} {{item.servername}}-{{hostname}}.{{ domain }}
{% endif %}

{% if item.secure_only is defined %}
    #443 only

{% if item.main is defined %}
    Redirect permanent / https://{{hostname}}.{{ domain }}

{% else %}
    Redirect permanent / https://{{item.servername}}-{{hostname}}.{{ domain }}
{% endif %}

{% else %}
	DocumentRoot {{apache_document_root}}{{item.servername}}

	<Directory {{apache_document_root}}{{item.servername}}>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>
{% endif %}

	ErrorLog /var/log/apache2/error_{{item.servername}}.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/access_{{item.servername}}.log combined

</VirtualHost>




