<VirtualHost *:443>
    ServerAdmin {{ email }}
    ServerName  {{ site.servername }}

{% if site.main is defined %}
    ServerAlias {{ domain }} {{ hostname }}.{{ domain }}
{% else %}
    ServerAlias {{ site.servername }}-{{ hostname }}.{{ domain }} {{ site.servername }}.{{ domain }}
{% endif %}


{% if site.type == "proxy" %}
    RewriteEngine on
    RewriteCond %{HTTP:Upgrade} websocket [NC]
    RewriteCond %{HTTP:Connection} upgrade [NC]

    RewriteRule ^/?(.*) "wss://{{ site.ip }}:{{ site.port }}/$1" [P,L]

    SSLProxyEngine on
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire Off

    ProxyPass /api/v1/ws ws://{{ site.ip }}:{{ site.port }}/api/v1/ws
    ProxyPassReverse /api/v1/ws ws://{{ site.ip }}:{{ site.port }}/api/v1/ws

{% if site.httpsNotSupported is defined %}
    ProxyPass / http://{{ site.ip }}:{{ site.port }}/
    ProxyPassReverse / http://{{ site.ip }}:{{ site.port }}/
{% else %}
    ProxyPass / https://{{ site.ip }}:{{ site.port }}/
    ProxyPassReverse / https://{{ site.ip }}:{{ site.port }}/
{% endif %}
    ProxyRequests off
    ProxyPreserveHost Off

{% else %}
    DocumentRoot {{ apache_document_root }}{{ site.servername }}

    <Directory {{ apache_document_root }}{{ site.servername }}>
        Options {{ site.indexes | default('Indexes')}} FollowSymLinks MultiViews
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>
{% endif %}
    ErrorLog /var/log/apache2/error_ssl_{{ site.servername }}.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog /var/log/apache2/access_ssl_{{ site.servername }}.log combined

    SSLEngine on

{% if site.main is defined %}
    SSLCertificateFile    /etc/letsencrypt/live/{{ hostname }}.{{ domain }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ hostname }}.{{ domain }}/privkey.pem
{% else %}
    SSLCertificateFile    /etc/letsencrypt/live/{{ site.servername }}-{{ hostname }}.{{ domain }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ site.servername }}-{{ hostname }}.{{ domain }}/privkey.pem
{% endif %}



</VirtualHost>

