<VirtualHost *:80>
	ServerAdmin root@dang.ovh
	ServerName  {{item.servername}}
	
{% if item.main is defined %}
   	ServerAlias dang.ovh {{hostname}}.dang.ovh
{% else %}
   	ServerAlias {{item.servername}}.dang.ovh {{item.servername}}-{{hostname}}.dang.ovh
{% endif %}

{% if item.secure_only is defined %}
    #443 only

{% if item.main is defined %}
    Redirect permanent / https://{{hostname}}.dang.ovh

{% else %}
    Redirect permanent / https://{{item.servername}}-{{hostname}}.dang.ovh
{% endif %}
	
{% else %}
	DocumentRoot {{apache_document_root}}{{item.servername}}

	<Directory {{apache_document_root}}{{item.servername}}>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>
{% endif %}

	ErrorLog /var/log/apache2/error_{{item.servername}}.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/access_{{item.servername}}.log combined

</VirtualHost>




